doctype html
html(lang="en")
    include ../partials/head.pug
    body
        include ../partials/header.pug
        include ../partials/footer.pug

        main
            h2 !{title}
            p Click on the card to hear the pronunciation. 
            .speech 
            label(for="toggleSpeech") 
                span.font-regular  Enable Word Reading
                input#toggleSpeech(type="checkbox", name="toggleSpeech")
            ul.cards
                for word, index in words[language]
                    li.card(data-target=word[target], data-source=word[source], data-index=index+1)
                        .front 
                            span #{word[source]}
                        .back 
                            span #{word[target]}
        script(src="/scripts/script.js") 
        script(src="/scripts/observer.js") 
        script(src="/scripts/speech.js") 
