link(
    rel="manifest"
    href!=`data:application/manifest+json,
    {'name': '${meta.author_name}',
    'short_name': '${meta.site_name}',
    'description': '${meta.site_description}',
    'display': 'standalone',
    'background_color': '${meta.theme_color}',
    'theme_color': '${meta.theme_color}',
    'orientation': 'portrait-primary'
    }`
    )
